In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/home/tulga/anaconda2/envs/myenv/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
s = pd.Series([1,3,5, np.nan, 6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01 -0.024317  1.156864  0.529460 -1.126514
2013-01-02  0.386347 -0.059082 -0.527007 -1.049807
2013-01-03 -0.979832  1.652644  0.014641 -0.954398
2013-01-04 -2.072937 -2.454370 -0.215478 -0.316226
2013-01-05  0.101789 -0.790883 -0.760610 -0.203215
2013-01-06  0.511439  1.328770 -1.515879  0.731850

In [8]:
df2 = pd.DataFrame({
        'A':1,
        'B':pd.Timestamp('20130102'),
        'C':pd.Series(1,index=list(range(4)), dtype='float32'),
        'D':np.array([3]*4, dtype='int32'),
        'E':pd.Categorical(["test", "train", "test", "train"]),
        'F':'foo'
    })

# Label based selection

In [37]:
df.loc['2013-01-01':'2013-01-03',['A','B']]

                   A         B
2013-01-01  0.740435  0.304636
2013-01-02 -1.611051  1.322007
2013-01-03 -1.407734  1.224429

# Location based selection

In [48]:
df.iloc[:,1:3]>1

                B      C
2013-01-01  False  False
2013-01-02   True  False
2013-01-03   True   True
2013-01-04   True  False
2013-01-05  False  False
2013-01-06  False  False

# Boolean indexing

In [52]:
df[df['A']>0]

                   A         B         C         D
2013-01-01  0.740435  0.304636  0.228293 -0.541962
2013-01-06  0.630417 -0.666657  0.731075  0.865674

In [54]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2013-01-01  0.740435  0.304636  0.228293 -0.541962    one
2013-01-02 -1.611051  1.322007 -1.576251  0.349519    one
2013-01-03 -1.407734  1.224429  1.659252 -0.311625    two
2013-01-04 -0.454860  1.438757 -1.665337  0.170835  three
2013-01-05 -0.479679  0.933941 -0.199075 -2.528199   four
2013-01-06  0.630417 -0.666657  0.731075  0.865674  three

# Setting
Setting a new column automatically aligns the data by the indexes

In [55]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))

In [56]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [57]:
df['F'] = s1

In [62]:
df

                   A         B         C         D    F
2013-01-01  0.000000  0.000000  0.228293 -0.541962  NaN
2013-01-02 -1.611051  1.322007 -1.576251  0.349519  1.0
2013-01-03 -1.407734  1.224429  1.659252 -0.311625  2.0
2013-01-04 -0.454860  1.438757 -1.665337  0.170835  3.0
2013-01-05 -0.479679  0.933941 -0.199075 -2.528199  4.0
2013-01-06  0.630417 -0.666657  0.731075  0.865674  5.0

In [59]:
df.loc['2013-01-01', 'A'] = 0

In [61]:
df.iloc[0, 1] = 0

In [63]:
df.loc[:, 'D'] = np.array([5]*len(df))

In [64]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.228293  5  NaN
2013-01-02 -1.611051  1.322007 -1.576251  5  1.0
2013-01-03 -1.407734  1.224429  1.659252  5  2.0
2013-01-04 -0.454860  1.438757 -1.665337  5  3.0
2013-01-05 -0.479679  0.933941 -0.199075  5  4.0
2013-01-06  0.630417 -0.666657  0.731075  5  5.0

# Updating information

In [65]:
df2 = df.copy()
df2[df2>0] = -df2
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.228293 -5  NaN
2013-01-02 -1.611051 -1.322007 -1.576251 -5 -1.0
2013-01-03 -1.407734 -1.224429 -1.659252 -5 -2.0
2013-01-04 -0.454860 -1.438757 -1.665337 -5 -3.0
2013-01-05 -0.479679 -0.933941 -0.199075 -5 -4.0
2013-01-06 -0.630417 -0.666657 -0.731075 -5 -5.0

# Missing Data

In [67]:
 df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [68]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.228293  5  NaN
2013-01-02 -1.611051  1.322007 -1.576251  5  1.0
2013-01-03 -1.407734  1.224429  1.659252  5  2.0
2013-01-04 -0.454860  1.438757 -1.665337  5  3.0
2013-01-05 -0.479679  0.933941 -0.199075  5  4.0
2013-01-06  0.630417 -0.666657  0.731075  5  5.0

In [71]:
df1 = df.reindex(index=dates[0:4])

In [72]:
df1

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.228293  5  NaN
2013-01-02 -1.611051  1.322007 -1.576251  5  1.0
2013-01-03 -1.407734  1.224429  1.659252  5  2.0
2013-01-04 -0.454860  1.438757 -1.665337  5  3.0

In [73]:
df.mean()

A   -0.553818
B    0.708746
C   -0.137007
D    5.000000
F    3.000000
dtype: float64

In [74]:
df.mean(1)

2013-01-01    1.307073
2013-01-02    0.826941
2013-01-03    1.695189
2013-01-04    1.463712
2013-01-05    1.851037
2013-01-06    2.138967
Freq: D, dtype: float64

In [9]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)

In [12]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [14]:
s.shift(-2)

2013-01-01    1.0
2013-01-02    3.0
2013-01-03    5.0
2013-01-04    NaN
2013-01-05    NaN
2013-01-06    NaN
Freq: D, dtype: float64

In [15]:
df.sub(s, axis='index')

                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03 -1.979832  0.652644 -0.985359 -1.954398
2013-01-04 -5.072937 -5.454370 -3.215478 -3.316226
2013-01-05 -4.898211 -5.790883 -5.760610 -5.203215
2013-01-06       NaN       NaN       NaN       NaN

In [26]:
df = pd.DataFrame(np.random.randn(10, 4))

In [33]:
df

          0         1         2         3
0  0.258437  1.155720 -0.558907  1.750510
1 -0.662515 -0.195264  0.652840  0.342059
2 -1.025178  0.543372 -1.540335 -2.545723
3 -0.685905  1.034882 -1.057065  0.695248
4 -0.698960  2.228282 -0.184807 -0.616317
5  0.439880 -1.357218  0.294804  0.924676
6 -2.128873 -0.757416  0.501045  0.923143
7  1.077277 -0.141736 -1.455280  0.815877
8  1.494135 -1.145558  0.318502 -1.790943
9 -1.087644 -0.091127  0.503085 -0.539805

In [36]:
pieces = [ df[:3], df[3:7], df[7:] ]
pieces

[          0         1         2         3
 0  0.258437  1.155720 -0.558907  1.750510
 1 -0.662515 -0.195264  0.652840  0.342059
 2 -1.025178  0.543372 -1.540335 -2.545723,
           0         1         2         3
 3 -0.685905  1.034882 -1.057065  0.695248
 4 -0.698960  2.228282 -0.184807 -0.616317
 5  0.439880 -1.357218  0.294804  0.924676
 6 -2.128873 -0.757416  0.501045  0.923143,
           0         1         2         3
 7  1.077277 -0.141736 -1.455280  0.815877
 8  1.494135 -1.145558  0.318502 -1.790943
 9 -1.087644 -0.091127  0.503085 -0.539805]

In [37]:
pd.concat(pieces)

          0         1         2         3
0  0.258437  1.155720 -0.558907  1.750510
1 -0.662515 -0.195264  0.652840  0.342059
2 -1.025178  0.543372 -1.540335 -2.545723
3 -0.685905  1.034882 -1.057065  0.695248
4 -0.698960  2.228282 -0.184807 -0.616317
5  0.439880 -1.357218  0.294804  0.924676
6 -2.128873 -0.757416  0.501045  0.923143
7  1.077277 -0.141736 -1.455280  0.815877
8  1.494135 -1.145558  0.318502 -1.790943
9 -1.087644 -0.091127  0.503085 -0.539805

In [38]:
df2 = np.random.randn(10, 2)

In [49]:
df2[:,0]

array([-0.62314202, -0.65809373,  0.05488766, -1.07840808,  0.04034992,
        1.85952894, -2.78192385,  0.9687855 , -0.06743717, -0.0057572 ])

In [51]:
s=pd.Series(df2[:,0])

In [54]:
df[4] = s

In [55]:
df

          0         1         2         3         4
0  0.258437  1.155720 -0.558907  1.750510 -0.623142
1 -0.662515 -0.195264  0.652840  0.342059 -0.658094
2 -1.025178  0.543372 -1.540335 -2.545723  0.054888
3 -0.685905  1.034882 -1.057065  0.695248 -1.078408
4 -0.698960  2.228282 -0.184807 -0.616317  0.040350
5  0.439880 -1.357218  0.294804  0.924676  1.859529
6 -2.128873 -0.757416  0.501045  0.923143 -2.781924
7  1.077277 -0.141736 -1.455280  0.815877  0.968785
8  1.494135 -1.145558  0.318502 -1.790943 -0.067437
9 -1.087644 -0.091127  0.503085 -0.539805 -0.005757

In [57]:
left = pd.DataFrame({'key':['foo', 'foo'], 'lval':[1, 2]})
right = pd.DataFrame({'key':['foo', 'foo'], 'rval':[4, 5]})

In [59]:
left

   key  lval
0  foo     1
1  foo     2

In [60]:
right

   key  rval
0  foo     4
1  foo     5

In [61]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [62]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])

In [63]:
df

          A         B         C         D
0  0.960369 -1.203360  0.198189  0.391177
1 -1.176671  0.441948  1.976041  0.148867
2  0.757860  0.369854 -0.937257  1.131513
3  0.197132  0.670236 -0.405738 -0.069547
4 -1.323555  1.468314 -1.822549 -0.140398
5  0.866030 -0.866627 -0.577243 -0.656285
6  0.818877  1.574479  0.505184  1.337730
7 -0.863539  0.752019  1.451515  0.756751

In [65]:
s = df.iloc[3]
s

A    0.197132
B    0.670236
C   -0.405738
D   -0.069547
Name: 3, dtype: float64

In [67]:
df.append(s, ignore_index=True)

          A         B         C         D
0  0.960369 -1.203360  0.198189  0.391177
1 -1.176671  0.441948  1.976041  0.148867
2  0.757860  0.369854 -0.937257  1.131513
3  0.197132  0.670236 -0.405738 -0.069547
4 -1.323555  1.468314 -1.822549 -0.140398
5  0.866030 -0.866627 -0.577243 -0.656285
6  0.818877  1.574479  0.505184  1.337730
7 -0.863539  0.752019  1.451515  0.756751
8  0.197132  0.670236 -0.405738 -0.069547

In [68]:
df = pd.DataFrame({
        'A': ['foo', 'bar', 'foo', 'bar',
              'foo', 'bar', 'foo', 'foo'],
        'B': ['one', 'one', 'two', 'three',
              'two', 'two', 'one', 'three'],
        'C': np.random.randn(8),
        'D': np.random.randn(8)
    })
df

     A      B         C         D
0  foo    one -0.429937 -0.455789
1  bar    one -0.468227 -0.430552
2  foo    two  0.595110  0.162339
3  bar  three -0.749963 -2.449236
4  foo    two -1.699342  2.112028
5  bar    two  0.669026  1.787513
6  foo    one  0.004243  0.975340
7  foo  three  1.839541  0.535535

In [71]:
df.groupby('A').sum()

            C         D
A
bar -0.549164 -1.092275
foo  0.309615  3.329454

In [72]:
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one   -0.468227 -0.430552
    three -0.749963 -2.449236
    two    0.669026  1.787513
foo one   -0.425695  0.519551
    three  1.839541  0.535535
    two   -1.104231  2.274367

In [73]:
tuples = list(zip(
    *[['bar', 'bar', 'baz', 'baz',
      'foo', 'foo', 'qux', 'qux'],
      ['one', 'two', 'one', 'two',
      'one', 'two', 'one', 'two']]
    ))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [74]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

In [76]:
df2 = df[:4]
df2

                     A         B
first second
bar   one    -0.988363  0.933543
      two    -2.023673  0.195101
baz   one    -0.629870 -0.633085
      two    -0.668175  0.910016

In [77]:
stacked = df2.stack()
stacked

first  second
bar    one     A   -0.988363
               B    0.933543
       two     A   -2.023673
               B    0.195101
baz    one     A   -0.629870
               B   -0.633085
       two     A   -0.668175
               B    0.910016
dtype: float64

In [79]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')

In [85]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

2012-01-01 00:00:00    480
2012-01-01 00:00:01    127
2012-01-01 00:00:02    257
2012-01-01 00:00:03    307
2012-01-01 00:00:04    140
2012-01-01 00:00:05    177
2012-01-01 00:00:06     89
2012-01-01 00:00:07    424
2012-01-01 00:00:08    468
2012-01-01 00:00:09      3
2012-01-01 00:00:10     87
2012-01-01 00:00:11     61
2012-01-01 00:00:12    442
2012-01-01 00:00:13     23
2012-01-01 00:00:14    261
2012-01-01 00:00:15    303
2012-01-01 00:00:16    185
2012-01-01 00:00:17     94
2012-01-01 00:00:18     46
2012-01-01 00:00:19    127
2012-01-01 00:00:20    205
2012-01-01 00:00:21    387
2012-01-01 00:00:22     81
2012-01-01 00:00:23    134
2012-01-01 00:00:24    463
2012-01-01 00:00:25    102
2012-01-01 00:00:26     75
2012-01-01 00:00:27    217
2012-01-01 00:00:28     55
2012-01-01 00:00:29    351
                      ...
2012-01-01 00:01:10    417
2012-01-01 00:01:11     84
2012-01-01 00:01:12    426
2012-01-01 00:01:13    275
2012-01-01 00:01:14    189
2012-01-01 00:01:15    254
2012-01-01 00:01:16    392
2012-01-01 00:01:17    304
2012-01-01 00:01:18      5
2012-01-01 00:01:19     35
2012-01-01 00:01:20     94
2012-01-01 00:01:21    331
2012-01-01 00:01:22    468
2012-01-01 00:01:23    459
2012-01-01 00:01:24    145
2012-01-01 00:01:25    147
2012-01-01 00:01:26    366
2012-01-01 00:01:27    292
2012-01-01 00:01:28    362
2012-01-01 00:01:29    251
2012-01-01 00:01:30    175
2012-01-01 00:01:31    495
2012-01-01 00:01:32    285
2012-01-01 00:01:33    360
2012-01-01 00:01:34    191
2012-01-01 00:01:35    287
2012-01-01 00:01:36    302
2012-01-01 00:01:37    165
2012-01-01 00:01:38    210
2012-01-01 00:01:39    427
Freq: S, dtype: int64

In [90]:
ts.resample('20S').mean()

2012-01-01 00:00:00    205.05
2012-01-01 00:00:20    222.45
2012-01-01 00:00:40    238.05
2012-01-01 00:01:00    239.10
2012-01-01 00:01:20    290.60
Freq: 20S, dtype: float64

In [97]:
pd.date_range(start='1/1/2012', end='1/10/2012', freq='H')#, freq='H')

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               ...
               '2012-01-09 15:00:00', '2012-01-09 16:00:00',
               '2012-01-09 17:00:00', '2012-01-09 18:00:00',
               '2012-01-09 19:00:00', '2012-01-09 20:00:00',
               '2012-01-09 21:00:00', '2012-01-09 22:00:00',
               '2012-01-09 23:00:00', '2012-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')